Predict the number of tickets that will be sold for buses into Nairobi from cities in "up country" Kenya.

In [2]:

#import packages & data
import pandas as pd

df = pd.read_csv("C:\\Users\\18005\\OneDrive\\Documents\\GitHub\\Project3-Traffic-Jam\\project\\train_revised.csv")

In [3]:
#Drop irrelevant columns
df = df.drop(columns=["seat_number", "ride_id", "payment_receipt", "travel_date", "max_capacity","payment_method"])

In [4]:
#Filtering 
df = df[(df.travel_to == 'Nairobi') & (df.car_type == 'Bus')]
df = df.drop(columns = ["travel_to","car_type"])

In [5]:
#Groupby places
place = df.groupby("travel_from").nunique()

In [7]:
df = df.drop_duplicates()

In [8]:
#Sort by time
place.sort_values(by = "travel_time", ascending = False)

             travel_time
travel_from
Kisii                 25
Rongo                 17
Keroka                17
Kijauri               12
Nyachenge             11
Awendo                 8
Migori                 8
Rodi                   6
Homa Bay               4
Sirare                 3
Keumbu                 3
Mbita                  2
Ndhiwa                 2
Kehancha               2
Sori                   2
Oyugis                 1
Kendu Bay              1

In [9]:
#Group by time
df.groupby("travel_time").describe()

            travel_from
                  count unique      top freq
travel_time
19:03                 3      3  Kijauri    1
19:04                 3      3  Kijauri    1
19:05                 3      3  Kijauri    1
19:06                 3      3  Kijauri    1
19:07                 5      5   Migori    1
23:09                 3      3    Mbita    1
23:10                 4      4     Sori    1
5:00                  1      1    Kisii    1
5:10                  1      1    Kisii    1
6:59                  5      5   Migori    1
7:00                  6      6   Migori    1
7:01                  2      2   Keroka    1
7:02                  5      5  Kijauri    1
7:03                  5      5    Mbita    1
7:04                  7      7     Rodi    1
7:05                  7      7    Kisii    1
7:06                  3      3  Kijauri    1
7:07                  4      4  Kijauri    1
7:08                  8      8   Migori    1
7:09                  6      6     Rodi    1
7:10                  5      5     Rodi    1
7:11                  5      5     Rodi    1
7:12                  6      6  Kijauri    1
7:13                  7      7   Migori    1
7:14                  5      5  Kijauri    1
7:15                  6      6   Migori    1
8:00                  6      6   Migori    1

In [10]:
#Sort by place
df.sort_values(by = "travel_from", ascending = False)

      travel_time travel_from
47716       23:10        Sori
21641        7:05        Sori
13266        7:00      Sirare
17874       19:07      Sirare
34613        6:59      Sirare
...           ...         ...
16171        7:00      Awendo
13420        7:15      Awendo
2152         7:08      Awendo
14305        7:12      Awendo
42453        8:00      Awendo

[124 rows x 2 columns]

In [30]:
pd.crosstab(df.travel_time, df.travel_from)

travel_from,Awendo,Homa Bay,Kehancha,Kendu Bay,Keroka,Keumbu,Kijauri,Kisii,Mbita,Migori,Ndhiwa,Nyachenge,Oyugis,Rodi,Rongo,Sirare,Sori
travel_time,,,,,,,,,,,,,,,,,
19:03,0,0,0,0,6,0,9,319,0,0,0,0,0,0,0,0,0
19:04,0,0,0,0,4,0,3,395,0,0,0,0,0,0,0,0,0
19:05,0,0,0,0,5,0,3,199,0,0,0,0,0,0,0,0,0
19:06,0,0,0,0,3,0,7,189,0,0,0,0,0,0,0,0,0
19:07,2,0,0,0,0,0,0,28,0,13,0,0,0,0,20,3164,0
23:09,0,0,0,0,0,0,0,0,186,0,0,2,0,0,16,0,0
23:10,0,0,0,0,0,0,0,0,0,0,129,0,0,99,36,0,24
5:00,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
5:10,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
6:59,28,0,0,0,0,0,0,3,0,9,0,0,0,0,18,399,0
7:00,10,0,0,0,10,0,0,9,0,86,0,0,0,0,107,886,0
7:01,0,0,0,0,1,0,0,172,0,0,0,0,0,0,0,0,0
7:02,0,0,0,1,4,0,6,214,0,0,0,0,5,0,0,0,0
7:03,0,0,0,0,2,0,0,73,192,0,0,157,0,0,232,0,0
7:04,0,2701,0,0,128,0,15,107,0,0,0,56,0,44,786,0,0
7:05,0,0,0,0,13,0,0,121,0,0,107,124,0,143,1136,0,31
7:06,0,0,0,0,109,0,319,1233,0,0,0,0,0,0,0,0,0
7:07,0,0,0,0,42,1,40,701,0,0,0,0,0,0,0,0,0
7:08,1202,0,814,0,2,1,1,92,0,734,0,0,0,0,143,0,0
7:09,0,3152,0,0,2,0,0,34,0,0,0,7,0,117,259,0,0
7:10,0,277,0,0,0,0,0,58,0,0,0,6,0,1,84,0,0
7:11,0,174,0,0,0,0,0,57,0,0,0,3,0,1,24,0,0
7:12,65,0,0,0,0,0,1,35,0,3416,0,4,0,0,19,0,0
7:13,298,0,1095,0,1,0,3,18,0,237,0,0,0,0,72,0,0
7:14,0,0,0,0,5,0,1,115,0,0,0,138,0,0,922,0,0
7:15,64,0,0,0,4,0,0,58,0,1961,0,5,0,0,47,0,0
8:00,119,0,0,0,0,1,0,4,0,571,0,10,0,0,7,0,0